
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Edit Menu Item</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit Menu Item
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" data-bind="textInput:model().name" name="name" id="name" required>
                            </div>
                            <div class="form-group">
                                <label>Price</label>
                                <input type="text" class="form-control" data-bind="textInput:model().price" name="price" id="price" required>
                            </div>
                            <div class="form-group">
                                <label>Type</label>
                                <input type="text" class="form-control" data-bind="textInput:model().type" name="type" id="type" required>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea rows="20" type="text" class="form-control" data-bind="textInput:model().description" name="description" id="description" required></textarea>

                            </div>
                            <div data-bind="fileDrag: fileData">
                                <div class="image-upload-preview">
                                    <img width="370" height="266" data-bind="attr: { src: model().imageurl }, visible: fileData().dataURL">
                                </div>
                                <div class="image-upload-input">
                                    <input type="file" data-bind="fileInput: fileData,customFileInput: {}">
                                </div>
                            </div>

                            <div class="form-group" style="float: right">
                                <button data-bind="click:save" class="btn btn-primary">Save</button>
                                <button data-bind="click:cancel" class="btn btn-danger">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Additions
                <div>
                    <a style="float: right;margin-top: -23px;" title="Add Addition" id="creatNewAddition" data-toggle="modal" data-target="#myModal"
                       class="btn btn-success btn-circle"><i class="fa fa-plus"></i></a>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-Addition">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: menuItemadditions">
                        <tr class="odd gradeX">
                            <td data-bind="text:Name"></td>

                            <td class="center">
                                <button type="button" id="myButton" data-bind="attr:{additionId:Id}"
                                        class="btn btn-danger" data-toggle="modal" data-target="#mydeleteModal">
                                    Delete
                                </button>
                            </td>
                        </tr>

                    </tbody>
                    <tbody>
                        <tr data-bind="visible:menuItemadditions().length == 0">
                            <td colspan="5"> there is no records.</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Additions</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Please Select Addition To Add :</label>
                    <select multiple="multiple" class="form-control"
                            data-bind="options:additions,optionsText: 'Name',
                       selectedOptions: selectedAdditions"></select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bind="click:saveMenuItemAdditions">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div id="mydeleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Warning !!</h4>
            </div>
            <div class="modal-body">
                <p>Are You Sure You Want To Delete This Item?.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bind="click:deleteMenuItemAddition">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>

    </div>
</div>

<script>
    var app = new MenuItemEditViewModel(@ViewBag.Id);

    ko.applyBindings(app);
</script>
