
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Edit Menu Item</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit Menu Item
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" data-bind="textInput:name" id="name">
                            </div>
                            <div class="form-group">
                                <label>Price</label>
                                <input type="text" class="form-control" data-bind="textInput:price" id="price">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" class="form-control" data-bind="textInput:description" id="description">
                            </div>
                            <div class="form-group">
                                <label>Type</label>
                                <input type="text" class="form-control" data-bind="textInput:type" id="type">
                            </div>
                            <div class="form-group" style="float: right">
                                <button data-bind="click:save" class="btn btn-primary">Save</button>
                                <button data-bind="click:cancel" class="btn btn-danger">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<script>
    var app = new MenuItemEditViewModel(@ViewBag.Id);

    ko.applyBindings(app);
</script>
