<div data-bind="foreach:categories">

    <div class="grid_4">
        @*<div class="gall_block">
            <div class="maxheight">*@

        <a style="margin-bottom:50px" data-bind="attr:{href:'/Customer/Category/show/'+Id}" class="gall_item">
            <img data-bind="attr: { src: ImageUrl }" alt="">
        </a>
        <div class="gall_bot">
            <div class="text1">
                <a href="#">
                    <span style="margin-bottom:50px" data-bind="text:Name"></span>
                </a>
            </div>
            Rehoncus. Aliquam nibh antegestas id ictum a, commodo. Praesenterto faucibus maleada faucibusnec laeet metus id laoreet
            <br>
            <a data-bind="attr:{href:'/Customer/Category/show/'+Id}" class="btn">more</a>
        </div>
    </div>

</div>
  


@*<div class="grid_4">
    <div class="gall_block">
        <div class="maxheight">
            <a data-bind="attr:{href:'/Customer/Category/show/'+Id}" class="gall_item"><img src="/Scripts/CustomerTheme/images/page2_img1.jpg" alt=""></a>
            <div class="gall_bot">
                <div class="text1">
                    <a href="#">
                        <span data-bind="text:Name"></span>
                    </a>
                </div>
                Rehoncus. Aliquam nibh antegestas id ictum a, commodo. Praesenterto faucibus maleada faucibusnec laeet metus id laoreet
                <br>
                <a data-bind="attr:{href:'/Customer/Category/show/'+Id}" class="btn">more</a>
            </div>
        </div>
    </div>
</div>*@



<script>
    //var app = new CategoryViewModel();
    var app = new CustomerCategoryViewModel(@ViewBag.Id);
    ko.applyBindings(app);
</script>