<section id="pricing" class="pricing" style="margin-top: 170px;">
  <div id="w">
    <div class="pricing-filter">
      <div class="pricing-filter-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="section-header">
                <h2 class="pricing-title">Our Cafeterias</h2>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" >
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <ul id="menu-pricing" class="menu-price">
            <!-- ko foreach: categories -->
            <li class="item" style="display:inline-block">
              <a data-bind="attr:{href:'/Customer/Category/show/'+Id}">
                <img style="height:200px" data-bind="attr: { src: ImageUrl }" class="img-responsive" alt="Food">
                <div class="menu-desc text-center">
                  <span>
                    <h3><span data-bind="text:Name"></span></h3>
                    short desc
                  </span>
                </div>
              </a>
              <h2 class="white"><span data-bind="text:Name"></h2>
            </li>
            <!-- /ko -->

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
    //var app = new CategoryViewModel();
    var app = new CustomerCategoryViewModel(@ViewBag.Id);
    ko.applyBindings(app);
</script>
