


<!DOCTYPE html>

<html>
<head>
    <title>Your Orders</title>
</head>
@*<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>*@
    @*<ul class="dropdown-menu dropdown-user">
        <li>
            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
        </li>*@
    <body>
        <link href="~/Content/bootstrap.css" rel="stylesheet">
        
        
        @*style="float:right;margin-right:500px"*@
        <div style="float:right;margin-right:500px">
         


                    </div>

                

        @*<a class="dropdown-item" data-bind="attr:{href:'/Customer/Cafeteria/show/'+Id}"><div data-bind-</a>*@
        
                
        <div class="dropdown">
            
                @*<div data-bind="foreach:cafeterias">*@
                    <button data-bind="foreach:cafeterias" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div data-bind="text:Name"></div>


                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @*<div data-bind="foreach:categories">*@

                            <button data-bind="foreach:categories" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div data-bind="text:Name"></div>


                            </button>
                            @*<a class="dropdown-item" data-bind="attr:{href:'/Customer/Category/show/'+Id}"><div data-bind="text:Name"</a>*@
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <div data-bind="foreach:menuitems">
                                
                                    <div class="dropdown-item" data-bind="text:Name"><div data-bind="text:Name"></div></div>
                                </div>
                             </div>
                         </div>
                    </div>
               
           

           

        
           
            


              

    </body>
</html>
<script>
    var app1=CafeteriaViewModel();
    ko.applyBindings(app1);
    var app2 = CategoryViewModel();
    ko.applyBindings(app2);
    var app3 = MenuItemViewModel();
    ko.applyBindings(app3);
    var app = new OrderViewModel();
    ko.applyBindings(app);
</script>