<!--== 15. Reserve A Table! ==-->
<section id="reserve" class="reserve" style="margin-top:200px;margin-left:10%">

  <div class="wrapper">
    <div class="container-fluid">
      <div class="row dis-table">
        <div class="col-xs-4 col-sm-4 dis-table-cell color-bg">
          <h2 class="section-title">Order Status</h2>
        </div>
        <div class="col-xs-6 col-sm-6 dis-table-cell section-bg">

        </div>
      </div> <!-- /.dis-table -->
    </div> <!-- /.row -->
  </div> <!-- /.wrapper -->
</section> <!-- /#reserve -->

<section class="content" style="margin-top:50px">
  <div class="container">
    <div>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Order Status<span style="margin-left:10px"></span></h3>
        </div>
        <div class="panel-body">
          <div class="alert alert-success" role="alert">
            Well done! You successfully submit your order.
          </div>
          <div class="alert alert-warning" role="alert">Your Order Status is Waiting for processing !</div>
        </div>
      </div>
    </div>
  </div>
</section>