
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Edit Category</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit Category
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" data-bind="textInput:model().name" name="name" id="name"  required>
                            </div>
                            <div data-bind="fileDrag: fileData">
                                <div class="image-upload-preview">
                                    <img width="370" height="266" data-bind="attr: { src: fileData().dataURL }, visible: fileData().dataURL">
                                </div>
                                <div class="image-upload-input">
                                    <input type="file" data-bind="fileInput: fileData,customFileInput: {}">
                                </div>
                            </div>
                            <div class="form-group" style="float: right">
                                <button data-bind="click:save" class="btn btn-primary">Save</button>
                                <button data-bind="click:cancel" class="btn btn-danger">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">MenuItems</h1>

    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Manage Your menuitems
                <div>
                    <a style="float: right;margin-top: -23px;" title="Add MenuItem" id="creatNewCategoryMenuItem" data-bind="attr:{href:'/admin/menuitem/create/'+categoryId()}"
                       class="btn btn-success btn-circle"><i class="fa fa-plus"></i></a>
                </div>
            </div>
            <!-- /.panel-heading -->
          
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-category">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: menuItems">
                        <tr class="odd gradeX">
                            <td data-bind="text:Name"></td>
                            <td data-bind="text:Price"></td>
                            <td data-bind="text:Description"></td>
                            <td data-bind="text:Type"></td>

                            <td class="center">
                                <button type="button" id="myButton" data-bind="attr:{menuItemid:Id, name:Name}" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete</button>
                                <a id="myButton" data-bind="attr:{href:'/admin/menuitem/edit/'+Id}" class="btn btn-success">Edit</a>
                            </td>
                        </tr>

                    </tbody>
                    <tbody>
                        <tr data-bind="visible:menuItems().length == 0">
                            <td colspan="5"> there is no records.</td>
                        </tr>
                    </tbody>
                </table>
                <!-- /.table-responsive -->

            </div>

            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Warning !!</h4>
            </div>
            <div class="modal-body">
                <p>Are You Sure You Want To Delete This Item?.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bind="click:deleteMenuItem">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>

    </div>
</div>
<script>
   
     var app = new CategoryEditViewModel(@ViewBag.Id);
    ko.applyBindings(app);
</script>
