<table>
    <tbody>
        <tr>
            <th>
                OrderId
                <span>&nbsp;&nbsp;</span>
            </th>
            
            <th>
                OrderItem
                <span>&nbsp;&nbsp;</span>
            </th>
            <th>
                Quantity
                <span>&nbsp;&nbsp;</span>
            </th>
            <th>
                Order Status
            </th>
        </tr>
     </tbody>
    <tbody data-bind="foreach:orders">
        <tr class="odd gradeX">
            <td data-bind="text:Id"></td>
            <td data-bind="foreach:OrderItems">
                <div data-bind="text:MenuItem.Name">
               </div>
              <td data-bind="foreach:OrderItems">
                  <div data-bind="text:Quantity"></div>
                </td>
            <td data-bind="text:OrderStatus">

            </td>

                  
            </td>
            <td><button type="button" id="myButton" data-bind="click:$root.inprogress" class="btn btn-success">inprogress</button>
                <span>&nbsp;&nbsp;</span>
            </td>

            <td><button type="button" id="myButton" data-bind="click:$root.finish" class="btn btn-success">finish</button></td>
            <td><button type="button" id="myButton" data-bind="click:$root.waiting" class="btn btn-success">waiting</button></td>
        </tr>
    </tbody>
</table>
<script> 
    var app = new orderViewModel();
    ko.applyBindings(app);
</script>