<table>
    <tbody>
        <tr>
            <th>
                OrderId
            </th>
            <th>
                OrderItem
            </th>
        </tr>
     </tbody>
    <tbody data-bind="foreach:orders">
        <tr class="odd gradeX">
            <td data-bind="text:DeliveryTime"></td>
        </tr>
    </tbody>
</table>
<script src="~/Scripts/Chef/order.js" > 
    var app = new orderViewModel();
    ko.applyBindings(app);
</script>